@use "../global" as *;
.p-cta {

}

.p-cta__bg {

}

.p-cta__inner {
background: url(../img/cta-bg.webp) no-repeat center center / cover;
block-size: rm(700);
padding-inline-start: rm(38);
}

.p-cta__wrapper {
padding-block-start: rm(94);
}

.p-cta__content {

}

.p-cta__title {
}

.p-cta__title-text {
    display: inline-block;
    text-align: center;
font-family: $font-cta;
font-size: rm(53);
font-weight: 900;
line-height: 120%;
letter-spacing: rm(-2.65);
}

.p-cta__title-wrapper {
    font-size: rm(70);
    font-weight: 900;
    line-height: 120%; /* 84px */
}

.p-cta__title-char--strong {
    margin-inline: -0.3em;
}

.p-cta__title-char {
    display: inline-block;
    &:nth-child(1)  { letter-spacing: -0.3em; }
    &:nth-child(2)  { letter-spacing: -0.3em; }
    &:nth-child(3)  { letter-spacing: -0.3em; }
    &:nth-child(4)  { letter-spacing: -0.3em; }
    &:nth-child(5)  { letter-spacing: -0.3em; }
    &:nth-child(6)  { letter-spacing: -0.3em; }
    &:nth-child(7)  { letter-spacing: -0.3em; }
    &:nth-child(8)  { letter-spacing: -0.3em; }
    &:nth-child(9)  { letter-spacing: -0.3em; }
    &:nth-child(10) { letter-spacing: -0.3em; }
    &:nth-child(11) { letter-spacing: -0.3em; }
    &:nth-child(12) { letter-spacing: -0.3em; }
    &:nth-child(13) { letter-spacing: -0.3em; }
}

.p-cta__lead {
    padding-inline-start: rm(89);
    padding-block-start: rm(26);
    display: inline-block;
    text-align: center;
font-size: rm(18);
font-weight: 500;
line-height: 166.667%; /* 166.667% */
letter-spacing: -0.9px;
}

.p-cta__button {
padding-inline-start: rm(149);
padding-block-start: rm(65);
}
