@use "../global" as *;

.p-contact {
  @include mq('sp-down') {
    // transform: translateY(rm(-360));
    position: relative;
    z-index: -1;
  }
}

.--contact {
  position: relative;
  top: 15px;
}

.p-contact__inner {
    background-color: #ebeff6;
  padding-block: rm(0) rm(100);
  @include mq('sp-down') {
    padding-block: rm(30) rm(30);
  }
}

.p-contact__wrapper {
inline-size: rm(1126);
margin-inline: auto;
background: $color-wt;
padding-block: rm(60);
margin-block-start: rm(40);
    @include mq('sp-down') {
      inline-size: 100%;
      padding-block: rm(0) rm(20);
    }

}



.p-contact__heading {
    text-align: center;
    @include mq('sp-down') {
    }
}

.p-contact__heading-title {
  padding-block-start: rm(25);
font-size: rm(30);
font-weight: 700;
letter-spacing: -1.5px;
    @include mq('sp-down') {
      font-size: rm(21);
    }
}

.p-contact__table-wrapper {

}

.p-contact__form-wrapper {
    padding-inline: rm(145);
    margin-inline: auto;
    @include mq('sp-down') {
      padding-inline: rm(20);
    }
}

.p-contact__form {
margin-block-start: rm(20);
}

.p-contact__row {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    margin-inline: auto;
    margin-block-start: rm(30);
    @include mq('sp-down') {
      margin-block-start: rm(21);
    }
}

.p-contact__row--privacy {

}

.--label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rm(10);
}

.p-contact__row--one {
    margin-block-start: 0;
}

.p-contact__row--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.p-contact__label {
    text-align: left;
    color: $color-bk;
    font-weight: 500;
    font-size: rm(16);
    line-height: 100%;
    @include mq('sp-down') {
      font-size: rm(10.5);
    }
}

.p-contact__required {
    color: $color-bk;
    font-weight: 700;
    font-size: rm(15);
    line-height: 100%;
    @include mq('sp-down') {
      font-size: rm(10.5);
    }
}

.p-contact__field {
    margin-block-start: rm(9);
    @include mq('sp-down') {
      margin-block-start: rm(6.3);
    }
}

.p-contact__input {
    margin-block-start: rm(9);
    padding-inline-start: rm(15);
    block-size: rm(55);
    border-radius: rm(3);
    border: 1px solid $color-bk;
    background: $color-wt;
    inline-size: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    padding-right: 1em;
    font-size: rm(15);
    @include mq('sp-down') {
      margin-block-start: rm(6.3);
      padding-inline-start: rm(10.5);
      block-size: rm(37.5);
      border-radius: rm(7);

    }
}

input.p-contact__input:focus,
select.p-contact__input:focus {
    outline: 1px solid #b4b4b4;
}


input::placeholder {
    color: #b4b4b4;
    font-size: rm(15);
}



select {
    color: #b4b4b4;
}



.p-contact__button {
  border-radius: rm(5.147);
    margin-block-start: rm(84);
    margin-inline: auto;
  display: flex;
    position: relative;
    padding-block: rm(20);
    justify-content: center;
    align-items: center;
    inline-size: rm(551);
    gap: rm(50);
    background-color: $color-bk;
    transition: all 0.3s ease;
    &::after {
      content: '';
      position: absolute;
      right: rm(50);
      top: 50%;
      transform: translateY(-50%);
      inline-size: rm(18);
      aspect-ratio: 1;
      background: url(../img/button-arrow.svg) no-repeat center center / cover;

    }
    @media (any-hover: hover) {
      &:hover {
      background-color: $color-gley;
      .p-contact__link-text {
        color: $color-bk;
      }
      .c-cta__link-arrow {
        background-color: $color-bk;
        color: $color-wt;
      }
    }
    }

    @include mq('sp-down') {
      margin-block-start: rm(42);
      padding-block: rm(15) rm(15);
      inline-size: calc(100% - rm(40));
      gap: rm(4.9);
      svg {
        left: rm(20);
        inline-size: rm(25.2);
      }
      &::after {
        right: rm(30);
        inline-size: rm(12.6);
      }
    }
}

.p-contact__button-text-wrapper {
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq('sp-down') {
    }
}

.p-contact__link-text {
  color: $color-gley;
  font-size: rm(23);
  font-weight: 900;
  line-height: 150%; /* 150% */
  letter-spacing: rm(3);
  transition: all 0.3s ease;

  svg {
    display: block;
  }


  @include mq('sp-down') {
    font-size: rm(12);
  
  }
}

.p-cta__button-wrapper {

}

.p-contact__link-subtext {
  margin-block-start: rm(10);
transition: all 0.3s ease;
color: #FFF;
font-size: rm(30);
font-weight: 700;
line-height: 166.667%; /* 166.667% */
letter-spacing: rm(1.5);
@include mq('sp-down') {
  font-size: rm(8);
}
}


