@use "../global" as *;

summary {
  display: block;
  
  &::-webkit-details-marker {
    display: none;
  }

  @media(any-hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}

.p-faq {

}

.p-faq__inner {
    background: linear-gradient(to right, #96D7E6, #1A4279);
padding-inline: rm(120);
padding-block-end: rm(106);

@include mq('sp-down') {
padding-inline: rm(20);
padding-block-start: rm(20);
padding-block-end: rm(40);
}
}

.p-faq__heading {

}

.p-faq__heading-title {
  padding-block-start: rm(10);
color: #FFF;
font-size: rm(30);
font-weight: 700;
letter-spacing: -1.5px;
@include mq('sp-down') {
  font-size: rm(21);
}
}

.p-faq__list {
    margin-block-start: rm(45);
display: flex;
flex-direction: column;
gap: rm(10);
@include mq('sp-down') {
  margin-block-start: rm(20);
}
}

details[open] .p-faq__question-icon::after {
  rotate: 90deg;
}

.js-details {

}

.js-summary {
    position: relative;
}

.js-content {
position: relative;
}

.p-faq__item {

}

.p-faq__question {
  display: inline-flex;
  justify-content: center;
  align-items: center;
    position: relative;
  text-align: center;
display: block;
background-color: #fff;
inline-size: 100%;
padding: rm(35) rm(197) rm(34) rm(198);
border-radius: rm(3);



@include mq('sp-down') {
  padding: rm(10) rm(40);
}
 
  @media(any-hover: hover) {
    &:hover {
      cursor: pointer;
       .p-faq__question-label {
        background-color: $color-gley;
       }
    }
    }
  }

details[open] .p-faq__question::after {
  rotate: 90deg;
}

.p-faq__question-text {
font-size: rm(20);
font-weight: 700;
transition: opacity 0.3s ease;
@include mq('sp-down') {
  font-size: rm(10);
}
    &::before {
      content: 'Q.';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left:rm(33);
        color: $color-bk;
      font-family: $font-heading;
      font-size: rm(30);
      font-weight: 600;
      line-height: 100%;
      letter-spacing: rm(2.5);

      @include mq('sp-down') {
        font-size: rm(17);
        left: rm(15);
      }
    }
    

}

.p-faq__question-label {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  right: rm(16);
  top: 50%;
  transform: translateY(-50%);
  inline-size: rm(60);
  block-size: rm(60);
  border-radius: rm(5.147);
  background-color: $color-bk;
  color: $color-wt;
  transition: background-color 0.3s ease;
  svg {
    display: block;
    
  }
  @include mq('sp-down') {
    inline-size: rm(20);
    block-size: rm(20);
    right: rm(10);
    svg {
      inline-size: rm(10);
    }
  }
}



.p-faq__answer {
}

.p-faq__answer-text {
  margin-block-start: rm(10);
    background-color: #FFF;
    display: inline-block;
    font-size: rm(20);
    font-weight: 700;
    line-height: 166.667%; /* 166.667% */
    padding: rm(30) rm(80) rm(30) rm(156);
    @include mq('sp-down') {
      font-size: rm(10);
      padding: rm(20) rm(40);
    }
    &::before {
      position: absolute;
        content:"A.";
      top: rm(23);
      left: rm(36);
      font-family: $font-heading;
      font-size: rm(30);
      font-weight: 400;
      line-height: 150%; /* 150% */
      letter-spacing: rm(3);
      @include mq('sp-down') {
        font-size: rm(17);
        top: rm(15);
        left: rm(15);
      }
    }
}

