@use "../global" as *;
.p-support {
}

.p-support__inner {
    background: linear-gradient(to right, #96D7E6, #1A4279);
    padding-block: rm(185) rm(50);
}

.p-support__bg-wrapper {
    padding-inline: rm(68);
    padding-block-end: rm(97);
    background-color: $color-wt;
}

.p-support__top-heading {

}

.p-support-heading__lead {
    padding-block-start: rm(11);
}
.p-support__top-content-wrapper {
    padding-block-start: rm(54);
    display: flex;
}

.p-support__top-content {

}

.p-support__lower-wrapper {
padding-block-start: rm(75);
}

.p-support__lower-heading {

}

.p-support__lower-content-wrapper {
padding-block-start: rm(27);
display: flex;
gap: rm(40);
}

.p-support__lower-content {

}

