@use "../global" as *;
.p-service {

}

.p-service__inner {
    background-color: $color-background;
    padding-inline: rm(151);
    position: relative;
}

.p-service__top-bg {
position: absolute;
inline-size: 100%;
top: rm(-74);
left: 0;
z-index: 2;
img {
    inline-size: 100%;
    block-size: auto;
    object-fit: cover;
}
}

.p-service__lower-bg {
position: absolute;
inline-size: 100%;
bottom: rm(-126);
left: 0;
z-index: 2;
img {
    inline-size: 100%;
    block-size: auto;
    object-fit: cover;
}
}

.p-service__heading {
padding-block-start: rm(50);
}


.p-service__content-wapprer {
padding-block-start: rm(47);
display: flex;
// gap: rm(10);
}

.p-service__content {
inline-size: rm(350);
img {
    inline-size: 100%;
    block-size: auto;
    object-fit: cover;
}
}

.p-service__flow {
padding-block-start: rm(72);
}

.p-service__flow-wrapper {
    padding-inline: rm(94);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-service__flow-heading {

}

.p-service__flow__content-wrapper {
padding-block-start: rm(25);
display: flex;
gap: rm(55);
}

.p-service__flow__content {

}

.p-service__cta-button {
padding-block-start: rm(105);
display: flex;
justify-content: center;
align-items: center;
}





