@use "../global" as *;
.p-voice {

}

.p-voice__inner {
background-color: #fff;
padding-inline: rm(47);
padding-block-end: rm(110);
}

.p-voice__bg-wrapper {
}

.p-voice__heading {

}

.p-voice__content-wrapper {
padding-block-start: rm(85);
display: flex;
}

.p-voice__contetnt {

}

.p-voice__lower-content-wrapper {
display: flex;
padding-inline: rm(165);
padding-block-start: rm(58);
gap: rm(20);
}

.p-voice__lower-content {
inline-size: rm(220);
}

