@use "../global" as *;
.l-footer {

}

.l-footer__inner {
    padding-inline: rm(120);
    padding-block: rm(30) rm(18);
background-color: $color-bk;
display: flex;
justify-content: space-between;
@include mq('sp-down') {
  padding-inline: rm(20);
  padding-block: rm(10);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

.l-footer__logo {

}

.l-footer_list-wrapper {
display: flex;
flex-direction: column;

}

.l-footer__nav {

}

.l-footer__list {
display: flex;
gap: rm(25);
@include mq('sp-down') {
  flex-direction: column;
  gap: rm(10);
  text-align: center;
}
}

.l-footer__item {

}

.l-footer__link {
color: #FFF;
font-size: rm(10);
font-weight: 500;
transition: color 0.3s ease;
@media (any-hover: hover) {
  &:hover {
    color: $color-gley;
  }
}
@include mq('sp-down') {
}
}

.l-footer__small {
    display: inline-block;
    text-align: right;
}

.l-footer__copy {
color: #FFF;
font-family: $font-heading;
font-size: rm(8);
font-weight: 400;
}

