@use "../global" as *;

.l-section__inner {
    inline-size: min(calc(1366px), 100%);
    padding-inline: 50px;
    margin-inline: auto;
}

.l-section__inner--narrow {
    @include mq('sp-down') {
        inline-size: 100%;
        padding-inline: 20px;
        margin-inline: auto;
    }
}

.l-section__bg {
    position: relative;
z-index: 2;
top:rm(-50);
@include mq('sp-down') {
  top: rm(-80);
}
}

.l-section__z-index {
      position: relative;
  z-index: 1;
  transform:translateY(rm(-80));
@include mq('sp-down') {
  transform:translateY(rm(-150));
}
}

.l-main {

}