@use "../global" as *;

.l-section__inner {
    inline-size: min(calc(1120px + 20px * 2), 100%);
    padding-inline: 20px;
    margin-inline: auto;
}

.l-section__inner--narrow {
    inline-size: 100%;
    padding-inline: 20px;
    margin-inline: auto;
}



.l-main {

}