@use "../global" as *;

.c-cta__link {
display: inline-flex;
justify-content: center;
align-items: center;
border-radius: rm(5.147);
background-color:$color-bk;
position: relative;
padding-inline: rm(37) rm(54);
padding-block: rm(26) rm(34);
transition: background 0.3s ease;
@media (any-hover: hover) {
  &:hover {
    background: $color-gley;
    .c-cta__link-title {
        color: $color-bk;
    }

    .c-cta__link-arrow  {
        background-color: $color-bk;
        color: #FFF;
    }
  }
}

@include mq('sp-down') {
  padding-inline: rm(10);
  padding-block: rm(10);
  inline-size: 95%;
  margin-inline: rm(10);
}
}

.c-cta__label {
    display: inline-block;
    aspect-ratio: 1;
    position: absolute;

img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}
@include mq('sp-down') {

}
}

.c-cta__link-wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.c-cta__link-title {
  position: relative;
  display: inline-block;
color: #CDB400;
font-size: rm(16);
font-weight: 700;
letter-spacing: -0.8px;
transition: color 0.3s ease;
&::before {
  content: '';
  position: absolute;
  top: rm(10);
  left: rm(-25);
  inline-size: rm(11);
  block-size: rm(15);
  background: url(../img/button-heading-left.svg) no-repeat center center / cover;
}
&::after {
  content: '';
  position: absolute;
  right: rm(-20);
  top: rm(10);
  inline-size: rm(11);
  block-size: rm(15);
  background: url(../img/button-heading-right.svg) no-repeat center center / cover;
}

@include mq('sp-down') {
  font-size: rm(11.2);
  &::before, &::after {
    inline-size: rm(7);
    block-size: rm(11);
    top: rm(5);
  }
}
}

.c-cta__link-text {
color: #FFF;
font-size: rm(20);
font-weight: 700;
@include mq('sp-down') {
    font-size: rm(14);
}
}

.c-cta__link-arrow {
    position: absolute;
    right: rm(-20);
    display: inline-block;
    inline-size: rm(51);
    block-size: rm(50);
    background-color: #fff;
    border-radius: rm(3.469);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
svg {
    display: block;
    inline-size: rm(18);
    block-size: rm(18);
}

@include mq('sp-down') {
  inline-size: rm(20);
  block-size: rm(20);
  svg {
    inline-size: rm(9);
    block-size: rm(9);
  }
}
}


