@use "../global" as *;

.c-cta__link {
display: inline-flex;
justify-content: center;
align-items: center;
border-radius: rm(5.147);
background-color:$color-bk;
position: relative;
padding-inline: rm(37) rm(54);
padding-block: rm(26) rm(34);
transition: background 0.3s ease;
@media (any-hover: hover) {
  &:hover {
    background: $color-gley;
    .c-cta__link-title {
        color: $color-bk;
    }

    .c-cta__link-arrow  {
        background-color: $color-bk;
        color: #FFF;
    }
  }
}
}

.c-cta__label {
    display: inline-block;
    aspect-ratio: 1;
    position: absolute;

img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}
}

.c-cta__link-wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.c-cta__link-title {
color: #CDB400;
font-size: rm(16);
font-weight: 700;
letter-spacing: -0.8px;
transition: color 0.3s ease;
}

.c-cta__link-text {
color: #FFF;
font-size: rm(20);
font-weight: 700;
}

.c-cta__link-arrow {
    position: absolute;
    right: rm(-20);
    display: inline-block;
    inline-size: rm(51);
    block-size: rm(50);
    background-color: #fff;
    border-radius: rm(3.469);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
svg {
    display: block;
    inline-size: rm(18);
    block-size: rm(18);
}
}


