@use "../global" as *;

.c-flow-heading {
}

.c-flow-heading__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-flow-heading__title-subtext {
    position: relative;
font-size: rm(15);
font-weight: 700;
letter-spacing: -0.5px;
&::before {
  content: '';
  position: absolute;
  top: rm(2);
  left: rm(-16);
  inline-size: rm(11);
  block-size: rm(15);
  background: url(../img/heading-left.svg) no-repeat center center / cover;
}
&::after {
  content: '';
  position: absolute;
  top: rm(2);
  right: rm(-16);
  inline-size: rm(11);
  block-size: rm(15);
  background: url(../img/heading-right.svg) no-repeat center center / cover;
}
@include mq('sp-down') {
  font-size: rm(10.5);
  &::before, &::after {
    inline-size: rm(7);
    block-size: rm(11);
  }
}
}

.c-flow-heading__title-subtext--strong span{
  position: relative;
    &::before {
      content: '';
      position: absolute;
      background-color: $color-gley;
      border-radius: 100vmax;
      content: "";
      width: rm(4);
      height: rm(4);
      top: rm(-10);
      left: rm(5);
      @include mq('sp-down') {
        width: rm(2);
        height: rm(2);
        top: rm(-5);
        left: rm(4);
      }
    } 
}

.c-flow__title-subtext--strong span{
  position: relative;
    &::before {
      content: '';
      position: absolute;
      background-color: $color-gley;
      border-radius: 100vmax;
      content: "";
      width: rm(4);
      height: rm(4);
      top: rm(-10);
      left: rm(2);
      @include mq('sp-down') {
        width: rm(2);
        height: rm(2);
        top: rm(-5);
        left: rm(4);
      }
    } 
}

.c-flow-heading__title-text {
font-size: rm(30);
font-weight: 700;
letter-spacing: -1.5px;
@include mq('sp-down') {
  font-size: rm(21);
}
}
