@use "../global" as *;

.c-heading {
padding-block-start: rm(40);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
@include mq('sp-down') {
  padding-block-start: rm(10);
}

}

.c-heading__label {
    font-family: $font-heading;
    font-size: rm(13);
    font-weight: 600;
    text-transform: uppercase;
    inline-size: rm(91);
    block-size: rm(25);
    background-color: $color-bk;
    color:$color-wt;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mq('sp-down') {
    }

}

.c-heading__title {
    padding-block-start: rm(25);
font-size: rm(30);
font-weight: 700;
letter-spacing: -3.5px;
text-align: center;
@include mq('sp-down') {
  padding-block-start: rm(17.5);
  font-size: rm(16);
}
}

.c-heading__title-text--strong span{
  position: relative;
    &::before {
      content: '';
      position: absolute;
      background-color: $color-gley;
      border-radius: 100vmax;
      content: "";
      width: rm(5);
      height: rm(5);
      top: rm(-5);
      left: rm(12);
      @include mq('sp-down') {
        width: rm(3);
        height: rm(3);
        top: rm(-3);
        left: rm(6);
      }
    } 
}

.c-heading__title-text {

}

.c-heading__lead {
padding-block-start: rm(4);
font-size: rm(15);
font-weight: 500;
letter-spacing: -0.75px;
@include mq('sp-down') {
  font-size: rm(10.5);
  text-align: center;
}
}